@model PasteBookModel.PB_USER
<link rel="stylesheet" type="text/css" href="~/Content/HomePage.css">
<div class="row">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div id="profilePic" >
                   @{ if (Model.PROFILE_PIC == null)
                       {
                           if (Model.GENDER == "M")
                           {
                            <img src="~/Content/Images/MaleDefaultImage.jpg" class="img-responsive img-rounded" id="profilePic" />
                           }
                           else if (Model.GENDER == "F")
                           {
                            <img src="~/Content/Images/femaleDefaultImage.jpg" class="img-responsive img-rounded" id="profilePic" />
                           }
                           else
                           {
                            <img src="~/Content/Images/femaleDefaultImage.jpg" class="img-responsive img-rounded" id="profilePic" />
                           }
                       }
                       else
                       {
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.PROFILE_PIC)" id="profilePic" class="img-responsive img-rounded" />
                       }
                }
                </div>
                <div id="userFullName">
                    @Model.FIRST_NAME &nbsp; @Model.LAST_NAME
                </div>
            </div>
            <div class="row" id="friendsDiv">
               <a href="@Url.Action("Friends", "Home")" id="friends" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Friends</a>
            </div>
        </div>
      

        <div class="col-md-7">
            <div class="row" id="AddPostDiv">
                @Html.Partial("PartialViewAddPost",Model)
            </div>
            
         <div id="newsFeed">
             @{
                 Html.RenderAction("NewsFeed", new { id = Session["User"] });
                     }
         </div>

        </div>

        <div class="col-md-2">

        </div>
    </div>
</div>
<input type="hidden" id="UserID" value="@Session["User"]" />

<script>
    var UrlAddLike = '@Url.Action("AddOrDeleteLike","Home")'
    var UrlAddPost = '@Url.Action("AddPost","Home")'
    var UrlRefreshNewsFeed = '@Url.Action("NewsFeed", "Home", new { id = Session["User"] })'
    var UrlAddComment = '@Url.Action("AddComment", "Home")'

</script>

@section Scripts {
<script src="~/Scripts/PasteBook/Home.js" type="text/javascript"></script>
<script src="~/Scripts/PasteBook/NotificationScript.js" type="text/javascript"></script>
<script src="~/Scripts/PasteBook/Profile.js" type="text/javascript"></script>

}
