@model IEnumerable<PasteBook.PostsModel>

<link rel="stylesheet" type="text/css" href="~/Content/HomePage.css">
<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="form-group">
                    <label for="txtAreaPost"></label>
                    <textarea id="txtAreaPost" class="form-control" rows="5" placeholder="What is on you mind?"></textarea>
                    <button type="button" class="btn btn-default" id="postBtn">Post</button>
                </div>
            </div>
            <button type="button" class="btn btn-default" id="btnRefresh">Refresh</button>
         <div id="newsFeed">
             @Html.Partial("PartialViewNewsFeed", Model);
         </div>
        </div>

        <div class="col-md-3">

        </div>
    </div>
</div>
<input type="hidden" id="UserID" value="@Session["User"]" />

<script>
        var UrlGetUserID = '@Url.Action("GetUserID","PasteBook")'
        var UrlAddLike = '@Url.Action("AddOrDeleteLike","PasteBook")'
        var UrlAddPost = '@Url.Action("AddPost","PasteBook")'
        var UrlRefreshNewsFeed = '@Url.Action("RefreshNewsfeed", "PasteBook")'
</script>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

<script src="~/Scripts/PasteBook/Home.js" type="text/javascript"></script>
}
@section navbarRight{
    <button id="notificationBtn" class="homeNavbarRight btn btn-default"><span class="glyphicon glyphicon-globe"></span></button>
    <button id="friendRequestBtn" class="homeNavbarRight btn btn-default"><span class="glyphicon glyphicon-user"></span></button>
    <button id="homeButton" class="homeNavbarRight btn btn-default">Home</button>
    <button id="profileButton" class="homeNavbarRight btn btn-default">Profile</button>
}
@section navbarLeft{
   <div class="col-md-4">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</div>
}
