@model IEnumerable<PasteBookModel.PB_NOTIFICATION>
<link rel="stylesheet" type="text/css" href="~/Content/HomePage.css">
<style>
    #notificationList {
        margin-top: 40px;
    }

    #notificationPanel {
        background-color: #fff;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        height: 1000px;
        overflow-y: scroll;
    }

    #notificationContentRow {
        margin-top: 10px;
    }

    #iconLiked {
        color: #3b5998;
    }

    #iconCommented {
        color: #9ACD32;
    }

    #notifTitlePanel {
        font-size: 20px;
    }

    #notifDate {
        font-size: 12px;
    }

    .notifScroll ::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    .notifScroll::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    .notifScroll::-webkit-scrollbar {
        width: .5em;
    }

    /* Handle */
    .notifScroll::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #fff;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

        .notifScroll::-webkit-scrollbar-thumb:window-inactive {
            background: #fff;
        }
</style>
<div class="container" id="notificationList">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 notifScroll" id="notificationPanel">
            <div class="container">
                <div class="row">
                    <p id="notifTitlePanel">List of notifications</p>
                </div>
                @{ if (Model != null)
            {
                foreach (var item in Model)
                {

                            <div class="row" id="notificationContentRow">
                                <div class="col-md-6">
                                    @{ if (item.NOTIF_TYPE == "L")
                                        {

                                            <p>
                                                <span class="glyphicon glyphicon-thumbs-up" id="iconLiked"></span>  @item.PB_USER1.FIRST_NAME @item.PB_USER1.LAST_NAME <a href="@Url.Action("Posts","Home", new { id = item.PB_POSTS.ID })">likes your post</a>
                                            </p>
                                        }
                                        else if (item.NOTIF_TYPE == "C")
                                        {
                                            <p>
                                                <span class="glyphicon glyphicon-comment" id="iconCommented"> </span>   @item.PB_USER1.FIRST_NAME @item.PB_USER1.LAST_NAME <a href="@Url.Action("Posts","Home", new { id = item.PB_POSTS.ID })">commented on your post</a>
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                <span class="glyphicon glyphicon-user"></span> @item.PB_USER1.FIRST_NAME @item.PB_USER1.LAST_NAME <a href="@Url.Action("Timeline", "Home", new { username = @item.PB_USER1.USER_NAME })"> sent you a friend request</a>
                                            </p>
                                        }

                                    }
                                </div><div class="col-md-6">
                                    <span id="notifDate">
                                        @{ var date = String.Format("{0:f}", item.CREATED_DATE);
                                            <span class="glyphicon glyphicon-calendar"></span>   @date
                                        }
                                    </span>
                                </div>
                            </div>
                                                }
                                            }
                                            else
                                            {
                                                <h1>Nothing to show</h1>
                                            }


                }
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
<script>
    var UrlGetNotificationCount = '@Url.Action("GetNotifCount", "Notification")'
</script>
@section Scripts {
    <script src="~/Scripts/PasteBook/Home.js" type="text/javascript"></script>
    <script src="~/Scripts/PasteBook/NotificationScript.js" type="text/javascript"></script>
    <script src="~/Scripts/PasteBook/Profile.js" type="text/javascript"></script>

}